body{
	background-color: #fff;
	color: #000;
}
nav.navbar{
	background-color: #0d2526;
	opacity: .8;
	box-shadow: none;
	border: none;
}
	nav.navbar.navbar-default .navbar-nav li a{
		color:#fff;
	}
.resume-wrap{
	padding:70px 0 0 0;
	position: relative;
}

.resume{
	font-family: Georgia, Serif;
	color: #333;
	background-color: #fff;
	padding: 0 35px;
	z-index: 20;
}
	.resume > section{
	}
	.resume p{
		font-size: 1.8rem;
		line-height: 2.8rem;
	}
	.resume > section > article{
		padding: 2rem;
	}
	.resume > section > article > h2{
		font: 2.5rem Georgia, Serif;
		line-height: 3.5rem;
		font-weight: 300;
		display: block;
	}
	.resume a{
		color: #00f;
		border-bottom: 1px dashed;
	}
		.resume a:hover{
			text-decoration: none;
			border-bottom-style: solid;
		}
.alert{
	font-size: .9em;
	margin:1em;
	border: 1px solid #aaa;
	border-radius: 5px;
	padding: .5em;
}
	.alert p:last-child{
		margin: 0;
		padding: 0;
	}
	.alert-info{
		background-color: #d9edf7;
		border-color: #bce8f1;
		color: #3a87ad;
	}
.hero{
}
	.hero .name{
	}
		.hero .name h1{
			font:3rem Georgia, 'Source Sans Pro', 'Trebuchet MS', sans-serif;
			font-weight: 300;
		}
		.hero .note{
			font-size: 1.8rem;
			line-height: 2.8rem;
		}
		.hero address{
			margin: 0;
		}
	.contact{
		border-radius: 2px;
		margin-top: 2em;
		font-family: Consolas, Verdana, sans-serif;
		font-size: 1.6rem;
	}
		.contact h2{
			display: none;
		}
		.contact ul{
			list-style: none;
			margin:0;
			padding: 0;
			width: 100%;
		}
			.contact ul li{
				display: block;
				padding: 5px 10px;
			}
			.contact li a, .contact li{
				color: #000;
			}
			.contact .mobile + a .country-code{
				color: #888;
			}
			.contact ul li i{
				color: #888;
				font-size: .8em;
				margin-right: 1rem;
			}
			.contact li a em{
				color: #888;
			}
.summary{
}
	.summary > article{
	}
	.summary > article > h2{
	}
	.summary p{
		padding-left: 1em;
	}
	.summary li{
		margin-bottom: 1em;
	}
.technologies{
	overflow: hidden;
}
	.technologies h2{
	}
	.technologies > article{
	}
	.technologies ul{
		list-style: none;
		margin: 0;
		padding: 0;
		font-family: Consolas, Verdana, sans-serif;
		float: left;
	}
		.technologies ul.highlights{
			width: 50%;
		}
		.technologies ul.normal{
			width: 50%;
		}
		.technologies > article > ul > li{
			display: block;
			margin: .5em 0;
			padding: .5em;
		}
		.technologies .skill{
			font-weight: normal;
			font-size: 1rem;
			display: inline-block;
			margin: .4em .2em;
			padding: .1em .6em;
			border: 1px solid #f9f9f9;
			background-color: #fafafa;
			border-radius: 1em .5em;
			color: #333;
			cursor: default;
		}
			.skill{
				background-repeat: no-repeat;
				background-position: 3px center;
			}
				.skill[data-rating='5']{
					font-size: 1.7rem;
				}
				.skill[data-rating='4']{
					font-size: 1.5rem;
				}
				.skill[data-rating='3']{
					font-size: 1.3rem;
				}
				.skill[data-rating='2']{
					font-size: 1.2rem;
				}
				.skill[data-rating='1']{
					font-size: 1.1rem;
				}
	.highlights .skill{
		margin: 0;
		padding: 0;
		background: none;
		border: none;
		position: relative;
		width: 100px;
		height: 100px;
	}
	.pot{
		display: block;
		border-radius: 50%;
		background-color: #eee;
		width: 100px;
		height: 100px;
		position: absolute;
		top: 0;
		left: 0;
	}
		.pot em{
			color: #fff;
			font: 1.2rem Verdana;
			z-index: 10;
			position: absolute;
			top: 50%;
			left: 50%;
			transform:translateX(-50%) translateY(-50%);
			font-style: normal;
			text-transform: uppercase;
		}
		.pot:after{
			content: '';
			display: block;
			position: absolute;
			width: 100px;
			height: 100px;
			top: 0;
			left: 0;
			border-radius: 50%;
			background-color: #000;
		}

		.skill[data-rating='6'] .pot:after{
			clip: rect(0px, 100px, 100px, 0px);
		}
		.skill[data-rating='5'] .pot:after{
			clip: rect(10px, 100px, 100px, 0px);
		}
		.skill[data-rating='4'] .pot:after{
			clip: rect(30px, 100px, 100px, 0px);
		}
		.skill[data-rating='3'] .pot:after{
			clip: rect(60px, 100px, 100px, 0px);
		}
			.skill[data-rating='3'] .pot em{
				color: #000;
			}
		.skill[data-rating='2'] .pot:after{
			clip: rect(70px, 100px, 100px, 0px);
		}
			.skill[data-rating='2'] .pot em{
				color: #000;
			}
		.skill[data-rating='1'] .pot:after{
			clip: rect(90px, 100px, 100px, 0px);
		}
			.skill[data-rating='1'] .pot em{
				color: #000;
			}

			
.experiences{
	position: relative;
}

.official-projects{

}
.official-projects h3{
	font:1.8rem Georgia, Serif;
	line-height: 2.8rem;
	color: #fff;
	font-weight: 300;
}
	.official-projects .project h3{
		color: #1A4B4C;

	}
.official-projects .heading{
	border-bottom: 2px solid #fff;
	background-color: #000;
	color: #fff;
}
.official-projects .project{
	padding:10px 0;
	border:1px solid #eee;
}
	.official-projects .project:nth-child(even){
		background-color: #fafafa;
	}
	.official-projects .project:nth-child(odd){
		background-color: #fefefe;
	}
.personal-projects{

}
	.personal-projects ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.personal-projects ul li{
		padding: 10px 0;
		border:1px solid #eee;
	}
		.personal-projects ul li.heading{
			border-bottom: 2px solid #fff;
			background-color: #000;
			color: #fff;
		}
		.personal-projects .heading h3{
			font:1.8rem Georgia, Serif;
			line-height: 3rem;
			font-weight: 300;
			margin: 0;
			padding: 0;
		}
		.personal-projects li:nth-child(even){
			background-color: #fafafa;
		}
		.personal-projects li:nth-child(odd){
			background-color: #fefefe;
		}
		.personal-projects .name{
			font-weight: bold;
		}
.technologies-used{
	font-family: Consolas, Verdana, sans-serif;
	font-size: 1.4rem!important;
	line-height: 2.4rem!important;
}
.meta{
	font-size: .8em;
	color: #aaa;
}

.timeline{
	position: relative;
	width: 100%;
	background-color: #fff;
	height: 550px;
}
	.timeline .line{
		position: absolute;
		height: 90%;
		width: 5px;
		background-color: #000;
		left: 50%;
		top: 50%;
		-webkit-transform:translateX(-50%);
		-moz-transform:translateX(-50%);
		transform:translateX(-50%);
		-webkit-transform:translateY(-50%);
		-moz-transform:translateY(-50%);
		transform:translateY(-50%);
	}
	.timeline .legend{
		position: absolute;
		color: #000;
		font-size: 10px;
		left: 50%;
		-webkit-transform:translateX(-50%);
		-moz-transform:translateX(-50%);
		transform:translateX(-50%);
	}
	.timeline .start-time-label{
		bottom: 0;
	}
	.timeline .end-time-label{
		top: 0;
	}
	.timeline .events{
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		left: 50%;
		top: 20px;
	}
	.timeline .events li{
		position: relative;
	}
		.timeline .events li:nth-child(even){
			left: -100%;
		}
	.timeline .events li .hand{
		position: absolute;
		width: 60px;
		height: 2px;
		background-color: #000;
		top: 50%;
		-webkit-transform:translateY(-50%);
		-moz-transform:translateY(-50%);
		transform:translateY(-50%);
	}
		.timeline .events li .hand:after{
			content: " ";
			display: block;
			width: 5px;
			height: 5px;
			border-radius: 25%;
			position: absolute;
			top: 50%;
			-webkit-transform:translateY(-50%);
			-moz-transform:translateY(-50%);
			transform:translateY(-50%);
		}
	.timeline .events li:nth-child(odd) .hand{
		left: 5px;
	}
		.timeline .events li:nth-child(odd) .hand:after{
			border-top:5px solid transparent;
			border-bottom:5px solid transparent;
			border-right: 10px solid #000;
			left: -2px;
		}
	.timeline .events li:nth-child(even) .hand{
		right: 0;
	}
		.timeline .events li:nth-child(even) .hand:after{
			right: -2px;
			border-top:5px solid transparent;
			border-bottom:5px solid transparent;
			border-left: 10px solid #000;
		}
	.timeline .events li .data{
		text-align: center;
		padding:10px 20px;
		background-color: #efefef;
	}
		.timeline .events li:nth-child(odd) .data{
			margin-left: 65px;	
			border-left: 1px solid #aaa;
			border-radius: 0 5% 5% 0;
		}
		.timeline .events li:nth-child(even) .data{
			margin-right: 60px;
			border-right: 1px solid #aaa;
			border-radius: 5% 0 0 5%;
		}

.experience{

}
	.experience .location{
		display: block;
		font-size: 2rem;
		font-weight: 300;
	}
		.experience .location a{
			color: #000;
			border-bottom: 1px dashed;
		}
			.experience .location a:hover{
				text-decoration: none;
			}
	.experience .summary{
		display: block;
		font-size: 1.5rem;
		margin: 10px 0;
	}
	.experience .time{
		display: block;
		font: .8em Orienta, Arial, sans-serif;
	}
		.experience .time .dtstart:after{
			content: " -";
		}

/* Phone */
@media (max-width: 480px){
	.resume-wrap{
		padding-top: 15px;
	}
	.resume{
		padding: 0 15px;
	}

	.contact ul li i{
		margin-right: 5px;
	}
	.technologies ul{
		float: none;
	}
		.technologies ul.highlights, .technologies ul.normal{
			width: 100%;
		}

	.timeline{
		height: 650px;
	}

	.timeline .line{
		left: 5%;
	}
	.timeline .legend{
		left: 5%;
	}
	.timeline .events{
		left: 5%;
	}
	.timeline .events li{
		padding: 10px 0;
	}
	.timeline .events li:nth-child(even){
		left: 0;
	}
	.timeline .events li .hand{
		width: 30px;
	}
	.timeline .events li:nth-child(even) .hand{
		left: 5px;
	}
	.timeline .events li:nth-child(even) .hand:after{
		left: -2px;
		border: none;
		border-top:5px solid transparent;
		border-bottom:5px solid transparent;
		border-right: 10px solid #000;
	}
	.timeline .events li:nth-child(odd) .data{
		margin-left: 35px;
	}
	.timeline .events li:nth-child(even) .data{
		margin-left: 35px;
		margin-right: 0;
	}

	.contact ul li{
		display: block;
		text-align: left;
		border-right: none;
	}

}

/* Tablet */
@media (min-width: 768px){
}

/* Desktop */
@media (min-width: 992px){

}

/* Largde desktop */
@media (min-width: 1200px){

}