body{
	background-color: #fafafa;
	color: #444;
}

.resume{
	font:1em Arial;
	color: #333;
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 5px;
	box-shadow: 0 0 10px #eee;
	margin-top: 2em;
}
	.resume > section{
		border-bottom: 1px solid #eee;
	}
	.resume p{
		line-height: 2em;
	}
	.resume > section > article{
		padding: 1em;
		border-left: 10px solid #aaa;
	}

.hero{
}
	.hero .photo{
	}
		.hero .photo img{
			margin: 2em;
			border-radius: 10em;
		}
	.hero .name{
		padding: 1em;
	}
		.hero .name h1{
			font-size: 3em;
		}
	.contact{
		padding: 1em;
		border-left: 1px solid #eee;
	}
		.contact h2{
			display: none;
		}
		.contact ul{
			list-style: none;
		}
			.contact ul li{
				display: block;
				padding: .4em;
			}
			.contact ul label{
				display: inline-block;
				width: 100px;
				color: #666;
			}
				.contact ul label i{
					opacity: .5;
					margin-right: .5em;
				}
.summary{
}
	.summary > article{
		border-left-color: #f00 !important;
	}
.technologies{
}
	.technologies > article{
		border-left-color: #0f0 !important;
	}
	.technologies ul{
		list-style: none;
	}
		.technologies .skill{
			font: 1.1em Consolas;
			font-weight: normal;
			display: inline-block;
			margin: .4em .2em;
			padding: .4em;
			background-color: #fafafa;
			border: 1px solid #eee;
			border-radius: .2em;
			color: #888;
			box-shadow: 0 0 2px #eee;
			cursor: default;
		}
			.technologies .skill:hover, .technologies .skill:focus{
				background-color: #fff;
				border-color: #0f0;
			}
