html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?z1woei');
    src:url('../fonts/icomoon.eot?#iefixz1woei') format('embedded-opentype'),
    url('../fonts/icomoon.woff?z1woei') format('woff'),
    url('../fonts/icomoon.ttf?z1woei') format('truetype'),
    url('../fonts/icomoon.svg?z1woei#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-sslc:before {
    content: "\e600";
}
.icon-be:before {
    content: "\e601";
}
.icon-hslc:before {
    content: "\e602";
}

@page {
    size: A4;
    margin: 0;
}

html, body {
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
}

body {
    border: 1px solid #ddd;
    font-family: 'Source Sans Pro', 'open sans', Sans;
    font-size: 1em;
    color: #333;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #333;
}

strong {
    font-weight: bold;
}

.resume {
    padding: 50px;
}

.header {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #d9d9d9;
}

.hero h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: .9rem;
    line-height: 1.2rem;
    font-weight: 400;
}

.contact {
    padding-left: 80px;
    font-size: .9rem;
    line-height: 1.2rem;
}
    .contact a {
        text-decoration: none;
        color: #333;
    }
    .contact li {
        margin-bottom: 5px;
    }
        .contact li:last-child {
            margin-bottom: 0;
        }
    .contact label {
        font-weight: 200;
        width: 70px;
        display: inline-block;
        color: #666;
    }
    .contact label:after {
        content: ':';
    }

main .column:first-child {
    padding-right: 20px;
    border-right: 1px solid #d9d9d9;
}

main h2 {
    margin-bottom: 10px;
    font-weight: bold;
}
.skills {
    margin-bottom: 20px;
}
    .skills li {
        display: inline-block;
    }
    .skills .primary {
        margin-bottom: 10px;
    }
        .skills .primary li {
            margin: 5px 5px 5px 0;
            padding: 3px 10px;
            background-color: #fafafa;
            color: #333;
            border-radius: 10px;
            border: 1px solid #efefef;
        }

    .skills .secondary {
        font-weight: 400;
        font-size: .9rem;
        margin-top: 20px;
    }
        .skills .secondary li {
            margin-bottom: 20px;
            margin-right: 20px;
        }

    .skill:after {
        margin-top: 3px;
        display: block;
        color: #666;
        font-size: .6rem;
    }
        .skill[data-rating="5"]:after {
            content: '⚫⚫⚫⚫⚫';
        }
        .skill[data-rating="4"]:after {
            content: '⚫⚫⚫⚫⚪';
        }
        .skill[data-rating="3"]:after {
            content: '⚫⚫⚫⚪⚪';
        }
        .skill[data-rating="2"]:after {
            content: '⚫⚫⚪⚪⚪';
        }
        .skill[data-rating="1"]:after {
            content: '⚫⚪⚪⚪⚪';
        }

.timeline{
    position: relative;
    width: 100%;
    background-color: #fff;
    height: 490px;
    margin: 0 auto;
}
    .timeline .line{
        position: absolute;
        height: 95%;
        width: 2px;
        background-color: #000;
        left: 50%;
        top: 50%;
        -webkit-transform:translateX(-50%);
        -moz-transform:translateX(-50%);
        transform:translateX(-50%);
        -webkit-transform:translateY(-50%);
        -moz-transform:translateY(-50%);
        transform:translateY(-50%);
    }
    .timeline .legend{
        position: absolute;
        color: #000;
        font-size: 10px;
        left: 50%;
        -webkit-transform:translateX(-50%);
        -moz-transform:translateX(-50%);
        transform:translateX(-50%);
    }
    .timeline .start-time-label{
        bottom: 0;
    }
    .timeline .end-time-label{
        top: 0;
    }
    .timeline .events{
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        left: 50%;
        top: 20px;
    }
        .timeline .events li{
            position: relative;
        }
            .timeline .events li:nth-child(even){
                left: -100%;
            }
        .timeline .events li .hand{
            position: absolute;
            width: 30px;
            height: 2px;
            background-color: #000;
            top: 50%;
            -webkit-transform:translateY(-50%);
            -moz-transform:translateY(-50%);
            transform:translateY(-50%);
        }
            .timeline .events li .hand:after{
                content: " ";
                display: block;
                width: 5px;
                height: 5px;
                border-radius: 25%;
                position: absolute;
                top: 50%;
                -webkit-transform:translateY(-50%);
                -moz-transform:translateY(-50%);
                transform:translateY(-50%);
            }
        .timeline .events li:nth-child(odd) .hand{
            left: 2px;
        }
            .timeline .events li:nth-child(odd) .hand:after{
                border-top:5px solid transparent;
                border-bottom:5px solid transparent;
                border-right: 10px solid #000;
                left: -5px;
            }
        .timeline .events li:nth-child(even) .hand{
            right: 0;
        }
            .timeline .events li:nth-child(even) .hand:after{
                right: -5px;
                border-top:5px solid transparent;
                border-bottom:5px solid transparent;
                border-left: 10px solid #000;
            }
        .timeline .events li .data{
            text-align: center;
            padding:10px;
            background-color: #efefef;
        }
            .timeline .events li:nth-child(odd) .data{
                margin-left: 32px;
                border-left: 1px solid #aaa;
                border-radius: 0 5% 5% 0;
            }
            .timeline .events li:nth-child(even) .data{
                margin-right: 30px;
                border-right: 1px solid #aaa;
                border-radius: 5% 0 0 5%;
            }
    .timeline .data .time .dtstart:after {
        content: 'to';
        display: inline-block;
        margin: 0 3px;
    }

.timeline {
    font-weight: 400;
}

.timeline .data > span {
    display: block;
    margin-bottom: 5px;
}

.timeline .data .location {
    font-weight: 400;
    margin-bottom: 10px;
}

.timeline .data .summary, .timeline .data .time {
    font-size: .8rem;
}

.open-source img {
    width: 55px;
    height: 55px;
    border:1px solid #dddddd;
}

.apps > p {
    margin: 10px 0;
    font-size: .9rem;
    line-height: 1.1rem;
}

.apps ol {
    font-weight: 400;
    margin-top: 20px;
}

.apps .featured {
    text-align: center;
    margin-bottom: 20px;
}
    .apps h3 {
        margin-bottom: 10px;
        font-size: .8rem;
    }
    .apps p {
        font-weight: 400;
    }

    .apps li {
        position: relative;
    }
    .apps .featured img {
        width: 100%;
        height: auto;
        overflow: hidden;
        border-radius: 0;
        border: 0;
    }
        .apps .featured p {
            text-align: left;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 10px;
            background-color: rgba(0,0,0,.2);
            color: #000;
            text-shadow: 0 0 2px #fff;
            font-weight: bold;
        }

    .apps li:not(:first-child) {
        display: inline-block;
        width: 85px;
        margin: 10px 0;
        text-align: center;
    }

    .apps1 li:not(:first-child):after {
        content:'';
        display: block;
        position: absolute;
        left: 12%;
        bottom: 20px;
        width: 80%;
        max-width: 210px;
        height: 10px;
        background: transparent;
        border-radius: 100px/50px;
        box-shadow: 0 30px 40px rgba(0,0,0,0.3);
    }

.work {
    padding: 0 0 20px 20px;
}

.education{
    padding: 20px 0 0 20px;
}
    .education ol{
        list-style: none;
        padding: 0;
        margin: 0 auto;
        overflow: hidden;
        width: 100%;
    }
    .education ol li{
        float: left;
        text-align: center;
        width: 30%;
        position: relative;
    }
    .education [class^="icon-"], [class*=" icon-"]{
        font-size: 3rem;
    }
    .education ol li p{
        border-top: 3px solid #000;
        padding-top: 10px;
    }
    .education ol li p span{
        font-weight: 400;
        display: block;
        font-size: .9rem;
    }
    .education ol li p span.degree{
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .education ol li .score{
        position: absolute;
        background-color: #000;
        color: #fff;
        right: 50%;
        transform:translateX(140%);
        top: 0;
        border-radius: 5px;
        padding: 5px 10px;
        font: .8rem verdana, sans-serif;
    }
    .education .be .score{
        transform:translateX(155%);
    }
    .education .score:before{
        content:"";
        position: absolute;
        right: 100%;
        top: 50%;
        -webkit-transform:translateY(-50%);
        -moz-transform:translateY(-50%);
        transform:translateY(-50%);
        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-right: 8px solid #000;
        border-bottom: 4px solid transparent;
    }
.awards {
    padding: 20px 0 0 20px;
}
    .awards ol {
        list-style: decimal;
        margin-left: 20px;
        font-weight: 400;
    }
    .awards ol li {
        margin-bottom: 10px;
    }
/* A4 Size */
@media (min-width: 210mm) {

    .header {
        display: flex;
    }

    .header > section {
        flex-grow: 1;
        width: 50%;
    }

    main {
        display: flex;
    }

    main .column:first-child {
        width: 40%;
    }

    main .column:last-child {
        width: 60%;
    }


}