html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.outline{
	outline:red solid thin;
}

/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

/*= start muzic */
body{
	
}
.hresume{
	width:760px;	
	margin:50px auto;
	font:1em Arial;
	color:#333;
}

section > .tit{
	position: absolute;
	top:-1px;
	left:20px;
	background-color:#fff;
	border:1px dashed #ddd;
	border-top:none;
	color:#000;
	padding:10px 10px 3px 10px;
	font-size:.9em;
	border-radius:0 0 5px 5px;
	font-weight:bold;
	font-size:.8em;
	text-transform:uppercase;
}

p{
	font-size:.8em;
	line-height:1.72em;
	letter-spacing:.03em;
}
section > p{
	padding:10px;
}
	.hresume > header, .hresume > section{
		background-color:#fff;
		border-radius:5px;
		border:1px dashed #ddd;
		background:url(img/ptrn.png);
		position:relative;
		margin-bottom:20px;
	}

	.hresume > section{
		padding-top:30px;
	}
		header > section{
			float:left;
		}

		.hero{
			padding:10px;
			width:57%;
		}
			.hero .fn{
				font-weight:bold;
				font-size:2em;
			}
			.hero .note{
				margin-top:10px;
				color:#333;
				font-size:.8em;
			}
		.contact{
			position: relative;
			padding:30px 0 0 40px;
			width:35%;
		}
			.contact li{
				margin:5px 0;
				font-size:.8em;
			}
				.contact li a{
					color:#333;
					text-decoration:none;
				}
			.contact label{
				color:#999;
				display: inline-block;
				width:60px;
				font-style:italic;
				text-transform:lowercase;
			}
	section.skills{
		padding:40px 20px 10px 20px;
	}
		section.skills .skill{
			display: inline-block;
			font-size:.7em;
			background-color:#fff;
			padding:4px 10px;
			margin:3px;
			border:1px solid #eee;
			border-radius:10px;
			box-shadow:0 0 1px #eee;
		}


